:root
{
	--primary_color : #00BCD4;
	--light_primary_color : #B2EBF2;
	--dark_primary_color : #0097A7;
	--primary_text : #212121;
	--secondary_text : #757575;
	--text_or_icons : #FFFFFF;
	--accent_color : #FF5722;
	--divider_color : #BDBDBD;
}
body
{
	background-color : var(--primary_color);
}
